body {
  background-color: black;
}

.main {
  background-color: white;
  margin: 110px auto 0;
  padding: 0 100px;
  min-width: 1200px;
  height: 500px;
  position: relative;
  z-index: 1;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  flex-direction: row;
}

.ryu, .hulk-ryu {
    width: 659px;
    height: 494px;
}

.hulk-ryu, .hulk-ryu-cool {
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
}


.ryu-ready, .ryu-still, .ryu-throwing,
.hulk-ryu-ready, .hulk-ryu-still, .hulk-ryu-throwing,
.ryu-cool, .hulk-ryu-cool {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing,
.hulk-ryu-ready, .hulk-ryu-throwing, .ryu-cool, .hulk-ryu-cool {
  display: none;
} 

.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.hulk-ryu-cool {
  background-image: url('../images/ryu-cool.gif');
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.hulk-ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.hulk-ryu-still {
  background-image: url('../images/ryu-standing-still.png');
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.hulk-ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing,
.hulk-ryu-ready, .hulk-ryu-still, .hulk-ryu-throwing {
  background-repeat: no-repeat;
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  float: left;
  position: absolute;
  z-index: 10;
  top: 162px;
  left: 650px;
}

.hulk-hadouken { 
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  float: right;
  position: absolute;
  z-index: 10;
  top: 162px;
  right: 650px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}